@font-face {
  font-family: 'AvenirLTPro_Light';
  src: url('assets/fonts/AvenirLTPro_Light.otf?#iefix') format('opentype');
}

@font-face {
  font-family: 'AvenirLTPro_Medium';
  src: url('assets/fonts/AvenirLTPro_Medium.otf?#iefix') format('opentype');
}

@font-face {
  font-family: 'AvenirNextLTPro_Bold';
  src: url('assets/fonts/AvenirNextLTPro_Bold.otf?#iefix') format('opentype');
}
@font-face {
  font-family: 'AvenirNextLTPro_Regular';
  src: url('assets/fonts/AvenirNextLTPro_Regular.otf?#iefix') format('opentype');
}
